@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/bg-main-desktop.png');
  background-size: 33%;
  background-repeat: no-repeat;
  font-family: 'Space Mono', monospace;
  height: 100vh;
  
  
}

section {
  width: 1100px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  .cards {

    .card {
      
      img {
        height: 250px;
        width: 400px;
        padding: 20px;

      }

    }

  }

  .form {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
  }




}

